
@{
    ViewBag.Title = "Giai thừa";
}

<h2>@ViewBag.Title</h2>

@{ 
    int factorial = 1;
    for (int i = 1; i <= 10; i++)
    {
        factorial *= i;
        <li>Giai thừa của @i là: @factorial</li>
    }
}

